<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493909958756-7e5dl3s6151hogmc45fvuh9bs0ml4et4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493909958756-7e5dl3s6151hogmc45fvuh9bs0ml4et4</string>
	<key>API_KEY</key>
	<string>AIzaSyAv9DqZKmcsTbf5-wtosYRcnCFHQF_N53g</string>
	<key>GCM_SENDER_ID</key>
	<string>493909958756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fiercebubble.attendancerecords</string>
	<key>PROJECT_ID</key>
	<string>attendance-record---flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-record---flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493909958756:ios:75d44e6e469f7934cd3f71</string>
	<key>DATABASE_URL</key>
	<string>https://attendance-record---flutter-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>